<h1 class="text-center">Crear un archivo</h1>

<section class="d-flex">
    <article class="col-6">
        <form action="">
            <label class="form-label">Nombre del archivo</label>
            <input type="text" name="nombre" class="form-control w-25">
            <label class="form-label">Contenido</label>
            <textarea name="contenido" class="form-control w-75" cols="30" rows="10"></textarea>
            <button class="btn btn-primary">Crear Archivo</button>
        </form>
    </article>

    <article class="col-6">
        <ul>
            <li>xdxd.txt</li>
        </ul>
    </article>
</section>