<h1 class="text-center">Leer un archivo</h1>

<section class="d-flex">
    <article class="col-6">
        <form action="/read" method="POST">
            <label class="form-label">Nombre del archivo</label>
            <select class="form-select w-75" aria-label="Default select" name="nombreArchivo">
                <option selected disabled>Open this select menu</option>
                {{#each archivoJson}}
                <option value="{{this.id}}">{{this.nombre}}</option>
                {{/each}}
            </select>
            <button class="btn btn-info mt-3" type="submit">Consultar archivo</button>
        </form>
    </article>
    <article>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{archivo.nombre}}</h5>
                <p class="card-text">{{archivo.contenido}}</p>
            </div>
        </div>
    </article>


</section>