<section class="d-flex">

    <article class="my-5 col-6">
        <form action="/update" method="POST">
            <label class="form-label">Nombre del archivo</label>
            <select class="form-select w-75" aria-label="Default select example" name="nombreArchivo">
                <option selected disabled>Selecciona un archivo</option>
                {{#each archivoJson}}
                <option value="{{this.id}}">{{this.nombre}}</option>
                {{/each}}
            </select>

            <label class="form-label">Nuevo nombre del archivo</label>
            <input type="text" name="nombre" class="form-control w-75">

            <button class="btn btn-warning mt-3" type="submit">Renombrar archivo</button>
        </form>
    </article>

    <article class="col-6 mt-5">
        <h2>Lista de archivos</h2>
        <ul>
            {{#each archivoJson}}
                <li>{{this.nombre}}</li>
            {{/each}}
        </ul>
    </article>

</section>